
  
  .swiper {
    width: 100%;
    height: 400px
   
  
  }
  
  .swiper-slide {
    display: flex;
   padding: 0% 1%;
   text-align: center;
   
   background-color: transparent;
   width: 100%;
   /*Centerslidetextvertically*/

}
  
 
  
 

  

  