.hs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--css-black);
}
.hs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--css-white);
  gap: 10px;
}
.hs-img-frame {
  width: 212px;
  height: 212px;
}
